

* {
    box-sizing: border-box;
}

body {
    font-family:monospace;
    background-color: lightgray;
}

.container {
    margin: auto;
    padding: 20px 30px;
    max-width: 850px;
    background-color: white;
    margin-top: 5rem;
    border-radius: 10px; 
    height: 34rem;
}

.row {
    display: flex;
    
}

.row > .left-side {
    flex:1;
    margin-left: 5rem;
}

.row > .right-side  {
    flex:1;
    margin-right: 5rem;
}

.header {
    display: flex;
}

.name {
    font-size: 15px;
    margin-left: 1rem;
}

.buyer {
    color: hsl(300, 43%, 65%);
} 

.img {
    width: 2.5rem;
    height: 2.5rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    overflow: hidden;
    margin-left: 1rem;
    margin-top: 1rem;
}

.buyer {
    font-size: 12px;
    margin-left: 1rem;
}

.paragraph {
    font-size: 10px;
    margin-left: 1rem;
}

.card-first {
    position: relative;
    transform: translate(-0%, 20%);
    width: 90rem;
    padding: 10px 1px;
    margin: 5px;
    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
    color: white;   
    margin-left: 5rem;
    transition: all .8s;
}

.card-secend {
    position: relative;
    transform: translate(-0%, 30%);
    width: 90rem;
    padding: 10px 1px;
    margin: 5px;
    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
    color: white; 
    transition: all .8s;  
}

.card-third {
    position: relative;
    transform: translate(-0%, 40%);
    width: 90rem;
    padding: 10px 1px;
    margin: 5px;
    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
    color: white;   
    margin-right: 5rem;
    transition: all .8s;
}

.card-first:hover {
    transform: translateY(1rem);
}

.card-secend:hover {
    transform: translateY(1rem);
}

.card-third:hover {
    transform: translateY(1rem);
}

.span-0 {
    margin-top: 2.5rem;
    width: 210px;
}

.span{
    width: 310px;
    margin-bottom: 2rem;
}

.left-span-1 {
    margin-top: 2.5rem;
    width: 70%;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: hsl(300, 24%, 96%);
    margin-left: 2rem;
}


.left-span-2 {
    margin-top: 2.5rem;
    width: 70%;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: hsl(300, 24%, 96%);
    margin-left: 4rem;
}


.left-span-3 {
    margin-top: 2.5rem;
    width: 70%;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: hsl(300, 24%, 96%);
    margin-left: 6rem;
}


.color-Magenta {
    color:hsl(300, 43%, 22%);
}
